<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
	<preference for="Twilio\Notification\Api\CronRepositoryInterface" type="Twilio\Notification\Model\CronRepository"/>
	<preference for="Twilio\Notification\Api\Data\CronInterface" type="Twilio\Notification\Model\Data\Cron"/>
	<preference for="Twilio\Notification\Api\Data\CronSearchResultsInterface" type="Magento\Framework\Api\SearchResults"/>
	<virtualType name="Twilio\Notification\Model\ResourceModel\Cron\Grid\Collection" type="Magento\Framework\View\Element\UiComponent\DataProvider\SearchResult">
		<arguments>
			<argument name="mainTable" xsi:type="string">twilio_notification_cron</argument>
			<argument name="resourceModel" xsi:type="string">Twilio\Notification\Model\ResourceModel\Cron\Collection</argument>
		</arguments>
	</virtualType>
	<type name="Magento\Framework\View\Element\UiComponent\DataProvider\CollectionFactory">
		<arguments>
			<argument name="collections" xsi:type="array">
				<item name="twilio_notification_cron_listing_data_source" xsi:type="string">Twilio\Notification\Model\ResourceModel\Cron\Grid\Collection</item>
			</argument>
		</arguments>
	</type>
</config>
